/*
// Background colors for objects
*/

.red {background-color: #FF0000;}     /* Red */  
.green {background-color: #00FF00;}   /* Green */
.blue {background-color: #0000FF;}    /* Blue */
.liblue {background-color: #80D7D8;}    /* Light Blue */
.grey {background-color: #505050;}    /* Grey */
.white {background-color: #FFFFFF;}    /* White */
.black {background-color: #000000} /* Black */
.activeblue {background-color: #4286f4;} /* Color used for active tab and download buttons */

/*
// Text colors
*/

.text-red {color: #FF0000;}     /* Red */  
.text-green {color: #00FF00;}   /* Green */
.text-blue {color: #0000FF;}    /* Blue */
.text-liblue {color: #80D7D8;}    /* Light Blue */
.text-grey {color: #505050;}    /* Grey */
.text-white {color: #FFFFFF;}    /* White */
.text-black {color: #000000} /* Black */