/* Generic Button Default white & medium*/
.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px 0px;
}

/* Button sizes */

.button-dl {width: 100px; height: 25px; padding: 3px; font-size: 12px; border-radius: 6px;}
.button-sm {width: 100px;}
.button-med {width: 150px;}
.button-lg {width: 250px;}
.button-xl {width: 350px;}

/* boarders */

.solidboarder {
	border: solid;
	border-width: 2px;
	border-color: #000000;
}
